## How to use Panda Series for loops/lists

Rather than making a big list, it would be easiser to enter the data in Excel and then call a Series/column in the CSV.


https://stackoverflow.com/questions/38387529/how-to-iterate-over-pandas-series-generated-from-groupby-size

In [1]:
import pandas as pd
#Import Pandas

In [2]:
data = pd.read_csv("My_Number_Values.csv")
#Import the CSV

In [3]:
data
#Preview the data

   Number_Values
0              2
1              4
2              6
3              8

In [4]:
s=pd.Series(data['Number_Values'])
#Turn the series into a variable that holds the list.

In [5]:
for i in s:
    print(i)

2
4
6
8

In [6]:
for i in s:
    print(1+i)

3
5
7
9